/* 
This is the stylesheet for the entirety of the Recovery Ventures 
Website. It is organized into the following sections:
-General Styles
-User input styling
-Utility classes
-Navbar Styling
-Footer styling
-Landing page
-misc page templates (basic and split)
-Mentor Page

Author: E. Gitlin
Sources:
-Create React App
-https://developer.mozilla.org/en-US/docs/Web/CSS
-https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp

*/

.App {
  text-align: center;
  height: 100%
}

.App-link {
  color: #61dafb;
}

/*  General Styles */

h4 { 
  margin: 0rem;
  color: rgb(94, 94, 94);
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Default styling for user input */
input[type=text], select {
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], button {
  background-color:rgb(33, 150, 247);
  color: white;
  padding: 8px 20px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Utility classes */

.vertical{
  display: block;
}

.left{
  float: left
}

.right{
  float: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items:center;
  padding:0;
  margin:0;
}


/* Navbar Styling */
.App-Header{
  display: block;
  background-color: rgb(163, 214, 255);
  overflow: hidden;
  color: black;
  padding: .5em 1em;
  text-align: left;
}

.navbar .navbar-menus{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}  

.navbar .navbar-item {
  overflow: hidden;
  display: block;
}

.navbar .dropdown {
  float: right;
  padding: 2em 5em 2em 0em;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  text-decoration: none;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropdown-content a{
  display: block;
}

.dropdown .dropbtn:hover {
  text-decoration: underline;
}

.dropdown .dropdown-content{
  display: none;
  background-color: rgb(33, 150, 247);
  position: absolute;
  z-index: 1;
  padding: .5rem .75rem;
  min-width: 100px;
}

.dropdown .dropdown-content a{
  color: white;
  padding: .5rem 0rem;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.navbar img{
  float: left;
  width: 66px;
  height: 66px;
  padding: 1em 0%;
}

.navbar .account-buttons div, .navbar .account-profile{
  background-color: rgb(214, 237, 255);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  height: auto;
}

.navbar .account-profile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .75rem .25rem;
  max-width: 12rem;
  min-width: 10rem;
  overflow: auto;
}

.navbar .account-buttons div{
  padding: .5rem 1rem;
  margin: .3rem 0rem;
  width: auto;
  text-align: center;
}

.navbar .account-buttons div a{
  text-decoration: none;
  color: black;
}

.navbar .account-profile img{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0rem;
}
.navbar .account-profile p{
  text-align: center;
  margin: 0rem 0rem;
}


/* Footer  */
.footer {
  overflow: hidden;
  background-color: rgb(163, 214, 255);
  color: black;
  height: 40px;
  padding: 1em 0em;
  bottom:0;
  width: 100%;
}

.row {
  display: flex;
}

.col {
  flex: 33%;
  padding: 1em;
}




/** Landing page **/
.landingPage {
  text-align: center;
}

.landingPage h4{
  margin: 0rem;
  color: rgb(94, 94, 94);
}
.landingPage .banner {
  width: 100%;
  background-color: rgb(255, 246, 220);
  max-height: 1000px;
}
.landingPage .banner img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  margin: 0rem;
}

.landingPage .d1 {
  padding: 3rem;
  background-color: rgb(255, 246, 220);
  font-size: xx-large;
}
.landingPage .d1 {
  padding: 1rem 0 4rem 0;
  background-color: rgb(255, 246, 220);
}
.landingPage .d2 {
  margin: 5% 0%;
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.landingPage .d2 h1{
  flex-basis: 30%;
  color: rgb(18, 80, 131);
  font-size: xxx-large;
}

.landingPage .d2 p{
  flex-basis: 40%;
  color: rgb(18, 80, 131);
  font-size: x-large;
}

.landingPage .d2 img{
  flex-basis: 20%;
}

.landingPage .d3 {
  padding: 3rem;
  background-color: rgb(255, 246, 220);
  font-size: xx-large;
  font-style: italic;
}


/* MISC PAGE TEMPLATES */
/* default styling for a basic static text page */
.basic-page{
  padding: 3% 5%;
  text-align: left;
  min-height: 76vh;
}


/** Styling for pages with two columns 
like login and account setup**/
.split-page .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split-page .grid .content-box1, .split-page .grid .content-box2{
  border-radius: 12px;
  padding: 3% 5%;
  margin: 0% 3%;
}

.split-page .grid .content-box1{
  background-color:rgb(255, 233, 168);
  border: medium solid rgb(255, 233, 168);
  max-height: fit-content; 
  height: fit-content;
  position: relative;
}

.split-page .grid .content-box2{
  background-color: rgb(255, 246, 220);
  border: medium solid rgb(255, 233, 168);
}



/* Mentor Page */
.mentor-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* background-color: rgb(255, 255, 255); */
  background-color:  rgb(255, 246, 220);
}

.mentor-page .sidebar {
  padding: 1rem;
  background-color:rgb(200, 244, 255);
  text-align: left;
}

.mentor-page .sidebar .sidebar-content {
  position: sticky;
  z-index: 2;
  top: 25px;
}


/* Tags are used on the mentor page to display short form
information about the mentor */
.mentor-page .tags{
  background-color: #F0FFFF;
  margin: .25rem;
  display: inline-block;
  border: solid;
  border-color: rgb(200, 244, 255);
  border-radius: 10px;
  border-width: 2px;
  padding: .2rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  font-size: smaller;
  
  /* This means that the textbox will not overflow the container its in */
  max-width: 90%;
}

.mentor-page .sidebar .tagbox p:hover{
  background-color: rgb(200, 244, 255);
}
.mentor-page .mentor-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.mentor-box {
  background-color: rgb(246, 252, 255);
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.mentor-box .textbox{
  background-color:rgb(200, 244, 255);
  height: 260px;
  text-align: center;
  overflow: auto;
  border-left-style: solid;
  padding: .5rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* .mentor-box .profile {
  max-width: auto;

} */
.mentor-box img{
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: solid;
  border-color: rgb(43, 43, 43);
  border-width: 2px; 
}
/*
.mentor-page .mentor-box .bio-modal {
  position: 'absolute';
  width: 400;
  background-color: 'white';
} */

