.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.basicPage{
  text-align: left;
}

.navbar{
  overflow: hidden;
  background-color: rgb(163, 214, 255);
  color: black;
  display: block;
  padding: 0em 0em;
  text-align: left;
}
/* The dropdown container */
.navbar .navbar-item {
  overflow: hidden;
}
.navbar .dropdown {
  float: right;
  padding: 2em 5em 2em 0em;
}

.navbar img{
  float: left;
  width: 4em;
  height: 4em;
  padding: .5em 4% .5em 4%;
}


/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  text-decoration: none;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropdown-content a{
  display:block;

}
.dropdown .dropbtn:hover {
  text-decoration: underline;
}

.dropdown .dropdown-content{
  display: none;
  background-color: rgb(33, 150, 247);
  position: absolute;
  z-index: 1;
  padding: .5rem .5rem;
}
.dropdown .dropdown-content a{
  color: white;
  text-decoration: none;
}
.dropdown .dropdown-content a:hover{
  color: white;
  text-decoration: underline;
}
.dropdown:hover .dropdown-content{
  display: block;
}

/** Landing page CSS**/
.banner {
  width: 100%;
}
.banner img {
  object-fit: scale-down;
  width: 100%;
}
.landingPage{
  text-align: left;
}

/** Account setup style**/
.basicPage{
  padding: 0% 5%;
}

.basicPage h3{
  padding: 0% 0% 0% 2%;
}

.basicPage .grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.basicPage .grid .content-box1,.content-box2{
  border-radius: 12px;
  padding: 3% 5%;
  margin: 0% 3%;
}
.basicPage .grid .content-box1{
  background-color:rgb(209, 209, 190);
  border: medium solid rgb(209, 209, 190);
  max-height: fit-content;
  height: fit-content;
  position: relative;
}
.basicPage .grid .content-box2{
  background-color:beige;
  border: medium solid rgb(209, 209, 190);
}

.footer {
  overflow: hidden;
  background-color: rgb(163, 214, 255);
  color: black;
  height: 40px;
  padding: 1em 0em;
  position:absolute;
  bottom:0;
  width: 100%;
}

.row {
  display: flex;
}

.col {
  flex: 33%;
  padding: 1em;
}
